<!DOCTYPE html>
<html th:fragment="layout (content)" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" th:href="@{/css/pico.classless.red.min.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <script th:src="@{/webjars/htmx.org/2.0.4/dist/htmx.min.js}" defer></script>
    <title>Simple Workout Tracker</title>
</head>
<body>
<header>
    <nav hx-boost="true" hx-target="body > main" hx-select="main" hx-swap="outerHTML">
        <ul>
            <li><a th:href="@{/}">SWT</a>: Simple Workout Tracker</li>
        </ul>
        <ul>
            <li><a th:href="@{/about}">About</a></li>
        </ul>
    </nav>
</header>
<main th:replace="${content}">
    <h1>Welcome!</h1>
</main>
<footer>
    <nav>
        <ul>
            <li>version: <span th:text="${@environment.getProperty('GIT_REV', 'LOCAL')}"></span></li>
        </ul>
    </nav>
</footer>
</body>
</html>
