<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::main})}" lang="en">
<main>
    <h1>Basic Upper/Lower Bodybuilding Split</h1>
    <ol>
        <li>
            <p>Day 1: Upper - Chest Focused</p>
            <ul>
                <li>Chest Fly</li>
                <li>Inclined Chest Press</li>
                <li>Lateral Raise</li>
                <li>Bicep Curl</li>
                <li>Barbell Row</li>
                <li>Lat Prayer</li>
            </ul>
        </li>
        <li>
            <p>Day 2: Lower - Quad Focused</p>
            <ul>
                <li>Leg Extensions</li>
                <li>Hack Squats</li>
                <li>Hip Abduction</li>
                <li>Weighted Fold Over</li>
            </ul>
        </li>
        <li>Rest</li>
        <li>
            <p>Day 3: Upper - Back Focused</p>
            <ul>
                <li>Pull-Ups</li>
                <li>Cable Row</li>
                <li>Chest Press</li>
                <li>Skull crushers</li>
                <li>Upright Row</li>
                <li>Bicep Curls</li>
            </ul>
        </li>
        <li>
            <p>Day 4: Lower - Hamstring Focused</p>
            <ul>
                <li>Stiff-Legged Dead-lifts</li>
                <li>Hip Thrust</li>
                <li>Leg Curls</li>
                <li>Leg Press</li>
            </ul>
        </li>
        <li>Rest</li>
    </ol>
</main>
</html>
